
body {
	padding-top: 40px;
	padding-bottom: 50px;
}


/*:: �J���[�p���b�g ::::::::::::::::::::::::::::::::::::::::::*/
.skyblue{color:#0099FF;}
.gray{color:#666;}
.mossgreen{color:#8FC31F;}
.red{color:#FF0000;}
.dark_red{color:#CC0000}
.violet{color:#cc0000;}
.blue{color:#0000FF;}
.dark_blue{color:#485377;}
.pastel_red{color:#FFD7D7;}
.beige_pink{color:#CC6666;}
.white{color:#FFFFFF;}
.orange{color:#FF6600;}
.cream_yellow{color:#FFFFCC;}
.purple{color:#AD8CCE;}
.black{color:#000;}

.font_bold{font-weight:bold;}


img {  
  max-width: 100%;  
  height: auto;  
}  
  
iframe {  
  max-width: 100%;  
  height: auto;  
}

.m-top {
	margin-top: 10px;
}

.m-top30 {
	margin-top: 30px;
}

.m-top80 {
	margin-top: 80px;
}
.m-bottom {
	margin-bottom: 10px;
}

.m-bottom30 {
	margin-bottom: 30px;
}

.center {
	text-align: center;
}

.textsize11{
	font-size:11px;
}

.m-left30 {
	margin-left: 30px;
}

.m-left70 {
	margin-left: 70px;
}

.comment{
	width:280px; /*※幅を指定する必要あり*/
	word-wrap:break-word;
}

.box {
    border: 1px solid #7f0000;
    color: #7f0000;
    display: block;
    margin: 10px 10px;
    padding: 5px;
	/*
    text-align: center;
	*/
}


